


/*HEADER*/
header .nombrecito h1 {

  font-family: "SUSE", sans-serif;
  font-weight:500;
  font-optical-sizing: auto;
  color: white;
  animation: text-shadow 4s ease-in-out infinite;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 20px;
}
@keyframes text-shadow {
  0% {  
      transform: translateY(0);
      text-shadow: 
          0 0 0 #0c2ffb, 
          0 0 0 #2cfcfd, 
          0 0 0 #fb203b, 
          0 0 0 #fefc4b;
  }

  20% {  
      transform: translateY(-.25em);
      text-shadow: 
          0 0.125em 0 #0c2ffb, 
          0 0.25em 0 #2cfcfd, 
          0 -0.125em 0 #fb203b, 
          0 -0.25em 0 #fefc4b;
  }

  40% {  
      transform: translateY(0.175em);
      text-shadow: 
          0 -0.0625em 0 #0c2ffb, 
          0 -0.125em 0 #2cfcfd, 
          0 0.0625em 0 #fb203b, 
          0 0.125em 0 #fefc4b;
  }
  
 60% {
      transform: translateY(-0.0825em);
      text-shadow: 
          0 0.03125em 0 #0c2ffb, 
          0 0.0625em 0 #2cfcfd, 
          0 -0.03125em 0 #fb203b, 
          0 -0.0625em 0 #fefc4b;
  }

  80% {  
      transform: translateY(0);
      text-shadow: 
          0 0 0 #0c2ffb, 
          0 0 0 #2cfcfd, 
          0 0 0 #fb203b, 
          0 0 0 #fefc4b;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
i {
  vertical-align: middle;
  display: inline-block;
  background-repeat: no-repeat;
}
html,

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.wrap {
  max-width: 100%;
  min-width: 320px;
}
header {
  font-family: 'Roboto', sans-serif;
  display: flex;
  z-index: 3;
  padding: 10px 0;
  background-color: rgba(20, 20, 20, 0.65);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  justify-content: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: 0.33s;
  border-radius:0px 0px 10px 10px;
}
header .wrap {
  padding: 0 2%;
  width: 100%;
  display: flex;
  /*
  align-items: flex-end;
  justify-content: space-between;
  */
  justify-content: initial;
  align-items: flex-end;
  flex-direction: initial;
  padding: 0;

}
header img {
  width: 40px;
  margin-left:20px;
  filter: brightness(default);
  transition: 2s;

}

header img:hover{
  transition:2s;
  filter: brightness(100);
  filter: invert(100);
  
  }


header #menu {
  display: flex;
  flex-direction: row;
}
header #menu li {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 20px;
}
header #menu li i {
  width: 12px;
  height: 12px;
  background-color: #3E3A37;
}
header #menu li a {
  color: rgba(200,200,200, 0.8);
  cursor: pointer;
  font-size: 1.15em;
  border: none;
  transition: 0.5s;
  background: none;
  text-decoration: none;
}
header #menu li a:hover {
transition: 1s;
  border-bottom-color: #41B883;
  color: white;
  text-shadow: 0px 0px 10px #FF6382;
}
header #menu li a:hover i {
  background-color: white;
}
header .drop_menu {
  position: absolute;
  display: block;
  top: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  width: auto;
  -webkit-transform-origin: top;
          transform-origin: top;
  background-color: rgba(50, 50, 50, 0.65);
  transition: 0.25s;
  padding-bottom: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius:0px 0px 10px 10px;
}
header .drop_menu a {
  margin-left: 20px;
  display: block;
  transition: 0.45s;
  opacity: 0;
  margin-right: 20px;
  padding: 10px 0 0 0;
}
header .drop_menu.display {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
header .drop_menu.display a {
  opacity: 1;
}
header #hamburger {
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  left: 3%;
  top: 30px;
  display: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
header #hamburger span {
  height: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgba(200,200,200, 0.8);
  display: block;
  transition: 0.33s;
}
header #hamburger span:nth-child(1) {
  width: 12px;
}
header #hamburger span:nth-child(2) {
  width: 24px;
}
header #hamburger span:nth-child(3) {
  width: 12px;
}
.display_menu header #hamburger span:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(2px, 1px);
          transform: rotate(45deg) translate(2px, 1px);
}
.display_menu header #hamburger span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.display_menu header #hamburger span:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(6px, -9px);
          transform: rotate(45deg) translate(6px, -9px);
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@media screen and (max-width: 660px) {
  body {
    padding-top: 70px;

  }
  header .wrap {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  header img {
    width: 50px;
    margin: 0px 50%;
  }
  header #hamburger {
    display: block;
  }
  header #menu {
    width: 100%;
    display: block;
    height: 0;
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
    transition: 0.33s ease;
    flex-direction: column;
  }
  .display_menu header #menu {
    height: calc(100vh - 64px);
  }
  .display_menu header #menu li {
    height: calc((100vh - 113px)/8);
    border-bottom: 1px solid #DAD9D7;
    transition: 0.25s ease;
    opacity: 1;
    display: block;
  }
  header #menu li {
    height: 0;
    opacity: 0;
    margin-left: 0;
    transition: 0.25s ease;
  }
  header #menu li a {
    left: 0;
    line-height: calc((100vh - 113px)/8);
    padding-left: 20px;
    border: none;
    height: 100%;
    width: 100%;
    display: block;
  }
  header #menu li a:hover {
    color: #ffffff;
    background-color: #41B883;
  }
  header #menu li a:hover i {
    background-color: #ffffff;
  }
  header #menu li i {
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: #3E3A37;
  }
  header .drop_menu {
    top: calc((100vh - 113px)/8);
    box-shadow: none;
    left: 0;
    padding-bottom: 0;
    width: 100%;
  }
  header .drop_menu a {
    width: 100%;
    padding: 0 !important;
    padding-left: 40px !important;
    margin: 0;
    border-bottom: 1px solid #DAD9D7 !important;
  }
}
@media screen and (max-width: 660px) and (max-height: 500px) {
  .display_menu header {
    max-height: 100vh;
    overflow-y: scroll;
  }
  .display_menu header #menu li {
    height: calc((100vh - 113px)/4);
  }
  header #menu li a {
    line-height: calc((100vh - 113px)/4);
  }
  header .drop_menu {
    top: calc((100vh - 113px)/4);
  }
}

/*TABLA*/

.table-container {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: auto; /* Permite desplazamiento horizontal en pantallas pequeñas */
  margin-bottom: 2rem;
}

table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 10);
}

th, td {
  padding: 12px;
  text-align: left;
  border-radius: 10px;
  border: 1px solid #ddd;
  
}

th {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px 5px 0px 0px;
  color: white;
}

@media screen and (max-width: 660px) {

  table {
    max-width: 660px;
  }

  th, td {
    padding: 3px;
    text-align: left;
    border: 1px solid #ddd;
  }

}

/*FOTOS CARRUSEL*/

.mySlides {
  display: none;
  display: flex;
  text-align: center;
}

.gallery .video .slideshow-container img {

 position: relative;

}

/* Contenedor del carrusel */
.slideshow-container {
  position: relative; /* Necesario para posicionar las flechas dentro de este contenedor */
  width: 100%;
  /*max-width: 600px; /* Ajusta el tamaño según sea necesario */
  margin: auto;
}

/* Las flechas (prev y next) */
.prev, .next {
  position: absolute; /* Posicionamos las flechas absolutamente dentro del contenedor */
  top: 50%; /* Centramos verticalmente */
  padding: 16px; /* Tamaño del área clickeable */
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  border: none;
  cursor: pointer;
  user-select: none;
  transform: translateY(-50%); /* Ajustamos la alineación vertical */
}

/* Flecha "prev" a la izquierda */
.prev {
  left: 0; /* Ubica la flecha a la izquierda */
}

/* Flecha "next" a la derecha */
.next {
  right: 0; /* Ubica la flecha a la derecha */
}

/* Efecto al pasar el mouse sobre las flechas */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #bdcbd4;
  font-size: 18px;
  padding: 15px 0%;
  position: relative;
  bottom: 0%;
  width: 100%;
  text-align: center;
  letter-spacing: 1vh;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@media screen and (max-width: 660px) {

  /* .gallery .video .slideshow-container {

    display: flex;
    justify-content: center;
    justify-items: center;
    position: relative;

  } */


  .gallery .video .slideshow-container img{

    height: 70vh;
    width: auto !important;
    left: -66.66%;
    text-align: center;
    
  }

  .gallery .video .slideshow-container .mySlides:nth-child(2) img {
    left: -33.33%;
  }

  .gallery .video .slideshow-container .mySlides:nth-child(3) img {
    left: -75%;
  }

  .text{

    width: 100%;

  }

}


/*FONDO ANIMADO*/

i {
  vertical-align: middle;
  display: inline-block;
  background-repeat: no-repeat;
}

body {


overflow-x:hidden;
  background-color: #17202A;
}

.bokeh {
  height: 100vh;
  width: 100vw;
  filter: blur(120px);
  background-color: #124;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateZ(0);
  backface-visibility: hidden;
  z-index:-1;
}

.bokeh circle {
  animation: rotate 5s linear infinite;
  opacity: 0.55;
  transform-origin: 50%;
}
.bokeh circle:nth-child(2n) {
  transform-origin: 20% 110%;
  animation-delay: -2.5s;
}
.bokeh circle:nth-child(3n) {
  transform-origin: 70% 30%;
  animation-delay: -1.25s;
}
.bokeh circle:nth-child(4n) {
  transform-origin: 110% 70%;
  animation-delay: -1.6666666667s;
}
.bokeh circle:nth-child(5n) {
  transform-origin: 30% 40%;
}
.bokeh circle:nth-child(6n) {
  transform-origin: -10% 80%;
  animation-delay: -6.5s;
}
.bokeh circle:nth-child(7n) {
  transform-origin: 70% -10%;
}
.bokeh circle:nth-child(8n) {
  transform-origin: -30% 50%;
  animation-delay: -2s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circles {
  margin-bottom: -1em;
}

.circles > div {
  height: 3em;
  width: 3em;
  background-color: rgba(30, 90, 210, 0.85);
  mix-blend-mode: multiply;
  color: #24a;
  box-shadow: 0 0 0 .05em #fff;
  border-radius: 50%;
  margin: 0 -.85em;
  display: inline-block;
}
.circles > div:last-child {
  color: #c00;
  background-color: rgba(210, 10, 5, 0.85);
}


@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200");

/*GALERIA*/



.gallery {

  justify-content: center;
  align-items: center;
  margin: 100px 0px 0px 0px;
  text-align: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;

}

/*VIDEO*/

 .gallery .video{


  width: 70%;
  height: auto;
  
  align-items: center;
  min-height: 100%;
  text-align: center;
  position: relative;

  margin: 0px 100px 0px 100px;
  
  padding: 30px 30px;

  display: inline-block;
  overflow: hidden;
  /*background-color: rgba(0, 0, 0, 0.4);*/
  border-radius: 5px;
  box-shadow: 0 0 30px 0px  rgba(0, 0, 0, 0.4);
  transition: 0.5s;

}

.gallery .video .portada {

  height: 80vh;

}

.gallery .video .portada .estrobo img {

  width: 100%; /* Mantén el 100% del ancho del contenedor */
  height: auto; /* Mantén el 100% del alto del contenedor */
  position: absolute; /* Superpón las imágenes */
  top: 0; /* Ajusta la posición a la parte superior */
  left: 0; /* Ajusta la posición al lado izquierdo */

}

.top {
	animation-name: estrobo;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: .5s;
	animation-direction: alternate;
}

@keyframes estrobo {
  0% {
    opacity: 1; /* Imagen 1 visible */
  }
  10% {
    opacity: 0; /* Rápido cambio a Imagen 2 */
  }
  20% {
    opacity: 1; /* Regresa a Imagen 1 */
  }
  30% {
    opacity: 0; /* Rápido cambio a Imagen 2 */
  }
  40% {
    opacity: 1; /* Imagen 1 visible */
  }
  60% {
    opacity: 0; /* Mantén Imagen 2 visible */
  }
  80% {
    opacity: 1; /* Regresa a Imagen 1 */
  }
  90% {
    opacity: 0; /* Último destello para Imagen 2 */
  }
  100% {
    opacity: 1; /* Termina en Imagen 1 */
  }
}


.gallery .video .videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  /*margin: 0px -30px;*/
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}



@media screen and (max-width: 660px) {

  .gallery .video{

    width: 100%;
    height: auto;
    margin: 100px 0px 50px 0px;
    padding: 0px;
  }

  .gallery .video .portada {

    height: 50vh;
  
  }

  .gallery .video .portada img {

    height: 100%;
    width: auto;

  }

}

.gallery .video iframe{

opacity: .8;
filter: blur(0.5px); 


}


/*ABOUT*/



.gallery .about {


  width: 70%;
  margin: 100px 100px 10px 100px;
  display: inline-block;
  text-align: justify;
  text-justify: none;
  position: relative;
  padding: 15px 30px;

  color: rgba(240, 240, 240, 0.9);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  line-height : 30px;
  box-shadow: 0 0px 10px 0px  rgba(20, 20, 20, 0.4);
  transition: 0.5s;
}

.gallery .peque {

  width: 70%;
  margin: 100px 100px 25px 100px;
  display: inline-block;
  text-align: justify;
  text-justify: none;
  position: relative;

  color: rgba(240, 240, 240, 0.9);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 15px 30px;
  line-height : 20px;
  box-shadow: 0 0 10px 0px  rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  font-size: 10px;
}

.gallery .about:hover{

  background-color: rgba(20, 20, 20, 0.7);
  transition: 1s;

}
/*
.gallery .peque {

  width: 67%;
  margin: 100px 100px 25px 100px;
  display: inline-block;
  text-align: justify;
  text-justify: none;
  position: relative;

  color: rgba(240, 240, 240, 0.9);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 15px 30px;
  line-height : 20px;
  box-shadow: 0 0 10px 0px  rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  font-size: 10px;
}
*/
/*
.gallery .about p {

  color: rgba(240, 240, 240, 0.9);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 30px;
  line-height : 30px;
  box-shadow: 0 0 10px 0px  rgba(0, 0, 0, 0.4);
}
*/




.gallery h1 {

  font-family: 'Roboto', sans-serif;
  text-align: left;
  color: rgba(240, 240, 240, 0.9);
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  transition: 1s;
}

.gallery h2 {

  font-family: 'Roboto', sans-serif;
  text-align: left;
  color: rgba(240, 240, 240, 0.9);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  transition: 1s;
}

.gallery .about:hover h1 {
 

    color: white;
    text-shadow: 0px 0px 20px #FF6382;
  }

.gallery .about:hover h2 {
 

    color: white;
    text-shadow: 0px 0px 10px #FF6382;
  }

@media screen and (max-width: 660px) {

  .gallery .about {
    
    width: initial;
    margin: 50px 0px 0px 0;
    padding: 15px 30px;
    line-height : 30px;
    box-shadow: 0 0 10px 0px  rgba(0, 0, 0, 0.4);
    border-radius: 5px 5px 0px 0px;

  }

  .gallery .peque {
    
    width: initial;
    margin: 100px 0px 50px 0;
    padding: 15px 30px;
    line-height : 30px;
    box-shadow: 0 0 10px 0px  rgba(0, 0, 0, 0.4);
  }

}


/*GALERIA*/

/*
.gallery .imagenes {
 
  margin: 0 100px;
  width: 70%;
  font-family: 'Roboto', sans-serif;
  background-color: red;
  position: relative;
  display: flex;
  justify-content:space-between;
 
}
*/

.gallery .imagenes {
 
  width: 70%;
  margin: 0 100px;
  display: inline-flex;
  position: relative;
  padding: 15px 30px;

  font-family: 'Roboto', sans-serif;
  /*background-color: red;*/
  justify-content:space-between;
  
  

}

.gallery .imagenes li {


  width: 25%;
  height: auto;



  text-align: center;
  position: relative;
  margin: 0px;
  display: inline-block;
  overflow: hidden;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
  border-radius: 5px;
  box-shadow: 0 0 10px 0px  rgba(0, 0, 0, 0.4);

}

.gallery .imagenes li:nth-child(1) {

margin: 0px 0px 0px -30px

}

.gallery .imagenes li:nth-child(4) {

  margin: 0px -30px 0px 0px
  
  }


.gallery .imagenes li img {

  display: block;
  width: 100%;
  height: 100%;
  margin: auto auto auto auto;
  display: inline-block;
  text-align: center;
  transform: scale(1, 1);
  transition-property: all;
  transition-duration: 0.4s;
}

.gallery .imagenes li video{

display: block;
width: 100%;
height: auto;
margin: auto auto auto auto;
display: inline-block;
text-align: center;
transform: scale(1.05, 1.05);
transition-property: all;
transition-duration: 0.4s;

}
/*
.gallery .imagenes li:nth-child(2) img {
  width: 100%;
  height: 100%;
  margin: 0% 0px 0px 0px;
  display: inline-block;

}
*/
.gallery .imagenes li .name {
  text-decoration: none;
  text-transform: none;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 5px;
  /*text-shadow: 0px 0px 10px #FF6382;*/
  color: rgba(255, 255, 255, 0.8);
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: .1em;
  position: absolute;
  display: block;
  top: 85%;
  left: 5%;
  text-align: left;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  font-style: italic;
}
.gallery .imagenes li .name .title {
  display: block;
  text-transform: none;
  font-style: italic;
  font-size: 80%;
  color: rgba(255, 255, 255, 0.7);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -moz-transition-duration: 0.9s;
  -o-transition-duration: 0.9s;
  -webkit-transition-duration: 0.9s;
  transition-duration: 0.9s;
}
.gallery .imagenes li:hover .name {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.gallery .imagenes li:hover .title {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.gallery .imagenes li:hover img {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  background-position: top top;
  -webkit-filter: grayscale(.2) blur(1px);
  filter: grayscale(.2) blur(1px);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;

}
.gallery .imagenes li:hover:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.8;
}



@media screen and (max-width: 660px) {

.gallery {
  margin: 0px 0px 0px 0px;
  width: 100%;

  }

.gallery .imagenes {

  width: 100%;
  padding: 0px 0px;
  margin: 0px ; 
  font-family: 'Roboto', sans-serif;

  position: relative;
  display: inline-block;
  
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0px 0px 5px 5px;

  }

.gallery .imagenes li {
  width: 49%;
  height: auto;
  min-height: 100%;
  margin: 0px 0px;
  background-color:rgba (0, 0, 50, 1);
  border-radius: 5px

}

.gallery .imagenes li:nth-child(1) {

  margin: 0px 0px 0px 0px
  
}
  
.gallery .imagenes li:nth-child(4) {
  
  margin: 0px 0px 0px 0px
    
 }

.gallery .imagenes li img {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  transform: scale(1, 1);
  transition-duration: 0.4s;
  transition-property: all;
  opacity: .9;
}

.gallery .imagenes li .name {

  text-decoration: none;
  text-transform: none;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 5px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
  color: rgba(255, 255, 255, .9);
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: .1em;
  top: 90%;
  left: 5%;
  opacity: 1;

}

.gallery .imagenes li .name .title {
  opacity: 1;
}

}

/*PIE DE PAGINA*/

footer {
  font-family: 'Roboto', sans-serif;
  z-index: 3;
  padding: 30px 20px;
  background-color: rgba(20, 20, 20, 0.65);;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: /*justify-content:*/space-between;
  box-shadow: 0 0 10px 0 rgba(143, 54, 54, 0.5);
  transition: 0.33s;
  height: 10px;
  text-align: center
  }

footer img {

  width: 25px;
  height: 25px;
  margin: 0px 6px;
  transition: 0.5s; 
  filter: invert(0);
}


footer img:hover {

  transition: 0.5s;
  filter: invert(100);

}

footer  .redes {

  display: flex;
  justify-content:space-between;

}

footer .pie li {
  
  color: rgba(200,200,200, 0.8);

}

@media screen and (max-width: 660px) {

footer {

  height: auto;
  padding: 30px 40px 30px 40px;
  flex-direction: column;

}

footer  .redes {

  display: flex;
  justify-content:center;


}

footer .pie li {

  margin: 10px 0px;

}

}